
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    user-select: none;
    list-style: none;
    padding-inline-start: 0;
  }

img {
width: 360px;
height: 200px;
top: 24px;
left: 156px;

  }

.section {
  padding-top: 24px;
  padding-bottom: 24px;
}
.modal {
    color: white;
    text-align: center;
    width: 1128px;
}

.original {
width: 1118px;
height: 640px;

}